<script type="text/javascript" src="<% rootNmPath %>/@angular/core/bundles/core.umd.min.js"></script>
<script type="text/javascript" src="<% rootNmPath %>/@angular/http/bundles/http.umd.min.js"></script>
<script type="text/javascript" src="<% rootNmPath %>/@angular/platform-browser/bundles/platform-browser.umd.min.js"></script>
<script type="text/javascript" src="<% rootNmPath %>/@angular/router/bundles/router.umd.min.js"></script>

<script src="<% ngAppPath %>.js"></script>

</body>
</html>